body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:rgb(57, 83, 112);
}
.Movie_title{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
